
# Android specific
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.so
*.dylib
*.tmp
*.temp
*.log

# Android Studio specific
.idea/
*.iws
*.ipr
*.iml

# Gradle specific
.gradle/
build/
captures/
output.json
local.properties

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Additional Android specific
gen/
bin/
out/